* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Charter", "Georgia", serif;
	font-size: 17px;
	line-height: 1.6;
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 20%);
}

p {
	margin-bottom: 1.6em;
}
